@use "./variables";

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
}

.clickable {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

html,
body {
    overflow-x: hidden;
}
