:root {
    --color-primary: #4f46e5;
    --color-primary-hover: #4338ca;

    --color-danger: #e11d48;
    --color-success: #16a34a;

    --color-text: #111827;
    --color-text-light: #6b7280;

    --color-bg: #f9fafb;
    --color-surface: #ffffff;

    --border-color: #e5e7eb;
    --shadow-soft: 0 6px 20px rgba(0, 0, 0, 0.06);
}
