:root {
    --color-primary: #111827;
    --color-primary-hover: #0f172a;

    --color-danger: #9f1239;
    --color-warning: #b45309;
    --color-success: #166534;

    --color-text: #111827;
    --color-text-light: #6b7280;

    --color-bg: #f9fafb;
    --color-surface: #ffffff;

    --border-color: #e5e7eb;
}
